{% extends 'base.html' %}
{% block title %}
Categories
{% endblock %}
{% block content %}

{% if category_posts %}

<h1>{{cats}} Category</h1>
<ul>
    {% for post in category_posts %}
    <li>
        <a href="{% url 'post_details' post.pk %}">{{ post.title }}</a> -
        {{ post.author.first_name }}<br />
        {% if user.is_authenticated %}
        <a href="{% url 'edit_post' post.pk %}">Edit</a> -
        <a href="{% url 'delete_post' post.pk %}">Delete</a> <br />
        {% endif %}
        {{ post.body|safe|slice:':180'}}
    </li>
    {% endfor %}
</ul>

{% else %}
Sorry, this category doesn't exist here
{% endif %}
{% endblock %}