{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>

~{{ post.category }}~<br />
<small>By: {{ post.author.first_name }} - {{post.post_date}}</small>
<hr>
{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}
<br />
<br />
{{ post.body|safe }}
<br />
<br />
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'edit_post' post.pk %}" class="btn btn-outline-primary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-outline-danger">Delete</a>
{% endif %}
{% endif %}
<br />
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">{% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked  %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-success">Liked</button>
    {% else %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-primary">Like</button>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login to like</a>
    {% endif %}
    - {{ total_likes }} Likes
</form>
<br />

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.profile.user.first_name }} {{ post.author.profile.user.last_name }}</h5>
          <p class="card-text">{{ post.author.profile.bio }}</p>
          <p class="card-text"><small>{{ post.author.profile.website_url }}</small></p>
        </div>
      </div>
    </div>
  </div>

<br />
<a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>
{% endblock %}