{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
~{{ post.category }}~<br />
<small>By: {{ post.author.first_name }} - {{post.post_date}}</small>
<hr>
{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}
{{ post.body|safe }}
<br />
<br />
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'edit_post' post.pk %}" class="btn btn-outline-primary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-outline-danger">Delete</a>
{% endif %}
{% endif %}
<br />
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">{% csrf_token %}
  {% if user.is_authenticated %}
  {% if liked  %}
  <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-success">Liked</button>
  {% else %}
  <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-primary">Like</button>
  {% endif %}
  {% else %}
  <a href="{% url 'login' %}">Login to like</a>
  {% endif %}
  - {{ total_likes }} Likes
</form>
<h2>Comments...</h2><br />
<div class="card">
  <div class="card-body">
    <a href="{% url 'add_comment' post.pk %}">Add comment...</a>
  </div>
</div><br />
{% if not post.comments.all %}
No Comments Yet
{% else %}
{% for comment in post.comments.all %}
<div class="card">
  <div class="card-body">
    <strong>{{comment.name}}</strong> <br />
    <small>{{comment.comment_date}}</small><br />
    {{comment.body}}<br />
  </div>
</div>
<br />
{% endfor %}
{% endif %}
<br />
<br />
<hr>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
      {% else %}
      <img src="{% static 'theblog/images/default_profile.jpg' %}" class="card-img">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.profile.user.first_name }} {{ post.author.profile.user.last_name }}</h5>
        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
        <p class="card-text">{{ post.author.profile.bio }}</p>
        <p class="card-text"><small>
            {% if post.author.profile.website_url %}
            <a href="{{ post.author.profile.website_url }}">Website |</a>
            {% endif %}
            {% if post.author.profile.facebook_url %}
            <a href="{{ post.author.profile.facebook_url }}">Facebook |</a>
            {% endif %}
            {% if post.author.profile.linkedin_url %}
            <a href="{{ post.author.profile.linkedin_url }}"> Linkedin |</a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
            <a href="{{ post.author.profile.instagram_url }}"> Instagram </a>
            {% endif %}
          </small></p>
      </div>
    </div>
  </div>
</div>

<br />
<a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>
{% endblock %}