{% extends 'base.html' %}
{% block title %}
{{ user.username }}
{% endblock %}
{% block content %}

<h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
<br />
{% if user.profile.profile_pic.url %}
<img src="{{ user.profile.profile_pic.url }}">
{% endif %}
<br />
<br />
{{ user.profile.bio }}<br />

{% if profile.website_url %}
<a href="{{ profile.website_url }}">Website |</a>
{% endif %}
{% if profile.facebook_url %}
<a href="{{ profile.facebook_url }}">Facebook |</a>
{% endif %}
{% if profile.linkedin_url %}
<a href="{{ profile.linkedin_url }}"> Linkedin |</a>
{% endif %}
{% if profile.instagram_url %}
<a href="{{ profile.instagram_url }}"> Instagram </a>
{% endif %}
<br />
<br />
<a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>
{% endblock %}